#thestartdiv{
    text-align: center;
    background-color: #66CCFF;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#edit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font:bold;
    background-color: #99F29F;
}
#magiko{
    color: steelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
